<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoolyCitySelector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>704842231E8E2AD10006D1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>704842371E8E2AD30006D1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>704842421E8E2AD40006D1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
